<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Address #<%= @address.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/addresses" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/addresses/<%= @address.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit address
        </a>
      </div>

      <div class="col">
        <a href="/delete_address/<%= @address.id %>" class="btn btn-block btn-outline-secondary">
          Delete address
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Employee
      </dt>
      <dd>
        <% if @address.employee.present? %>
          <a href="/employees/<%= @address.employee_id %>">
            <%= @address.employee.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Office addr
      </dt>
      <dd>
        <div>
          <%= render partial: "address_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@address.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@address.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

